* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* test */
    /* border:  0.5px solid red; */
}

body {

    font-family: 'Open Sans', sans-serif;


    position: relative;
}

/* attributi ripetuti */

 #pulsante-blu {
    color: white;
    background-color: #0061ff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.cont-centered {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* --------------------------- */
/* nav */
nav {
    position: fixed;
    z-index: 5;

    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1 solid gray;
}

.cont-nav {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.cont-nav ul {
    height: 100%;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cont-nav a {
    height: 100%;
    font-size: small;
    text-decoration: none;
    color: gray;
}

.cont-nav li a:hover {
    padding-bottom: 15px;
    border-bottom: 2px solid gray;
}
/* /nav */
/* --------------------------- */



/* --------------------------- */
/* header */

h1 {
    font-size: 5em;
}

.cont-centered-header {
    min-width: 1300px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px 15% 0 15%;
}
.cont-heaeder-descript {
    display: flex;
    gap: 2%;
}

header {
    position: relative;
    padding-top: 20px;

}

.cont-header-sx {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 30%;

    font-size: 1.5em;
}




.fa-arrow-down{
    font-size: 50px;
    color: black;
    padding-top: 100px;
    padding-bottom: 120px;
}

.cont-header-title {
    padding-bottom: 50px;
    padding-right: 50px;
}

.cont-header-dx {
    width: 80%; 
}

.cont-header-dx img {
    width: 100%;

}

.parzial-background {
    position: absolute;
    height: 85%;
    width: 100%;
    z-index: -1;
    background-color: #b4d0e7;
}

/* /header */
/* --------------------------- */




/* --------------------------------------------------- */
/* main */

/* --------------------------- */
/* sezione 1 */

/* /sezione colonne */

.col-abo {
    width: 30%;
    border: 1px solid gray;
    
}

.cont-abbonamenti {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 50px;
}



.section1 h2 {
    font-size: 50px;
    padding-top: 20px;
}


.section1 h2,.section1 .fatturazione {
    padding-bottom: 2em;
}

.t-head {
    text-align: center;
    border: 1px solid gray;
    padding: 0.5em;
}

.abo-type {
    margin-left: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.abo-type strong {
    font-size: x-large;
    padding-top: 1em;
}

.fatturazione {
    font-size: 1.5em;
}

.cerchio-segnato {
    border: 5px solid blue;
    border-radius: 50%;

}

.icona {
    margin-right: 5px;
}

.details {
    display: flex;
    flex-direction: row;
    margin: 2em;
}

.compra-prova{
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 2em;
}

.compra-prova hr{
    width: 25%;
}

.punti-salienti {
    padding: 2em;
}

.punti-salienti ul {
    list-style-image: url();
}
.punti-salienti li {
    padding-top: 2em; 
}
/* /sezione colonne */



/* sezione orizzontale  */

.enterprise-oriz {
    padding-top: 50px;
    border: 1px solid gray;
    padding: 2em;
}

.cont-orizzontale {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

.enterprise-oriz p {
    width: 70%;
}

.enterprise-oriz h3 {
    font-size: 40px;
}

/* /sezione orizzontale  */


/* /sezione 1 */
/* --------------------------- */





/* --------------------------- */
/* sezione 2 */

.section2 .cont-centered{
    display: flex;
}

.section2-sx {
    min-width: 60%;
}

.section2-sx img {
    width: 100%;
}

.section2-dx {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 50px;
}

.section2 button {


}

.section2 h3 {

}

.section2 p {

}

/* /sezione 2 */
/* --------------------------- */





/* --------------------------- */
/* sezione 3 */

.vantaggi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.vantaggio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 30px;
    width: 30%;
}

.section3 h2 {
    font-size: 2.5em;
    padding: 50px 0;
}

.immaginetta img {
    width: 100%;
}

.vantaggio strong {
    font-size: 2em;
}

.vantaggio p {
    font-size: large;
}

/* /sezione 3 */
/* --------------------------- */




/* --------------------------- */
/* sezione 4 */

.cont-section4 {
    padding: 100px 0;
    width: 55%;
}  

.section4 h5 {
    padding: 50px 0;
    font-size: 3em;
}



/* sezione 4 */
/* --------------------------- */




/* --------------------------- */
/* sezione loghi*/

.features {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.features-center {
    display: flex;
    flex-direction: column;
    gap: 70px;

    padding: 20px;
    max-width: 30%;
    flex-grow: 1;

    height: calc(100vw / 3);
    overflow-y: auto;
}

.features-center h2 {
    font-size: 80px;
}

.features-center hr {
    width: 15%;
}


.features-dx {
    display: flex;
    flex-wrap: wrap;

    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.features-sx {
    display: flex;
    flex-wrap: wrap;

    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.features img {
    filter: invert(1);
    width: 50%;
}

.logo1 {
    background-color: #a2d39b;
    border: 10px solid #d2e9cd;
}

.logo2 {
    
    background-color: #61082b;

}

.logo3 {
    background-color: #0093ce;

}

.logo4 {
    background-color: #ff1c1c;

}

.logo5 {
    background-color: #d5011f;

}

.logo6 {
    background-color: #b4d1e7;

}

.logo7 {
    background-color: #0d2481;

}

.logo8 {
    background-color: #fed92f;

}


/* sezione foot-loghi */

.foot-loghi {
    width: 100%;
    height: calc(100vw / 6);
    background-color: #b4d0e7;
}
.cont-foot-loghi {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.foot-loghi-sx h2 {
    width: 70%;
    font-size: 2.5em;
}


/* /sezione loghi*/
/* --------------------------- */
/* /main */
/* -------------------------------------------------- */

.section-faq {
    margin-top: 100px;
    height: calc(100vw / 6);

}

.section-faq h2,.section-faq p {
    margin: 40px 0;
}



/* --------------------------- */
/* footer */

footer {
    margin-top: 100px;

    background-color: black;
}

.cont-footer-centered {
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.cont-footer * {
    color: white;
}

.cont-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cont-footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;

    list-style-type: none;
}

.spaziatura {
    margin-top: 80px;
}

.lingua {
    padding: 50px 0;
}

.head {
    font-size: 1.5em;
    padding-bottom: 20px;
}

/* /footer */
/* --------------------------- */






