* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* test */
    /* border:  0.5px solid red; */
}

/* attributi ripetuti */

 a#pulsante-blu {
    color: white;
    background-color: #0061ff;
    padding: 10px 10px;
    text-align: center;
}

.cont-centered {
    padding: 50px 20% 0 20%;
}

/* --------------------------- */
/* nav */
nav {
    height: 50px;
}



.cont-nav {
    height: 100%;

    display: flex;
    justify-content: space-between;

}

.cont-nav ul {
    height: 100%;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cont-nav-dx,.cont-nav-sx {

    min-width: calc(100vw / 3);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.cont-nav a {
    font-size: small;
    text-decoration: none;
    color: gray;
}
/* /nav */
/* --------------------------- */



/* --------------------------- */
/* header */

h1 {
    font-size: 4em;
}

.cont-centered-header {
    padding: 50px 15% 0 15%;
}
.cont-heaeder-descript {
    display: flex;
    gap: 2%;
}

header {
    position: relative;
}

.cont-header-sx {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;

    font-size: small;
}

.fa-arrow-down{
    font-size: 50px;
    color: black;
}

.cont-header-title {
    padding-bottom: 50px;
    padding-right: 50px;
}

.cont-header-dx {
    width: 80%; 
}

.cont-header-dx img {
    width: 100%;

}

.parzial-background {
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    background-color: #b4d0e7;
}

/* /header */
/* --------------------------- */




/* --------------------------------------------------- */
/* main */


/* sezione 1 */

.section1 h2 {
    font-size: 50px;
    padding-top: 20px;
}

.section1 h2,.section1 .fatturazione {
    padding-bottom: 2em;
}

.t-head {
    text-align: center;
    border: 1px solid gray;
    padding: 0.5em;
}

.abo-type {
    margin-left: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.abo-type strong {
    font-size: x-large;
    padding-top: 1em;
}
.col-abo {
    width: 30%;
    border: 1px solid gray;

}

.fatturazione {
    font-size: 1.5em;
}

.cerchio-segnato {
    border: 5px solid blue;
    border-radius: 50%;

}

.icona {
    margin-right: 5px;
}

.details {
    display: flex;
    flex-direction: row;
    margin: 2em;
}

.compra-prova{
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 2em;
}

.compra-prova hr{
    width: 25%;
}

.punti-salienti {
    padding: 2em;
}

.punti-salienti ul {
    list-style-image: url();
}
.punti-salienti li {
    padding-top: 2em;
    
}

.cont-abbonamenti {
    display: flex;
    justify-content: space-between;

}

.enterprise-oriz {

    /* text */
    height: 100px;
}
/* /sezione 1 */
/* --------------------------- */



/* --------------------------- */
/* sezione 2 */

.cont-section2 {
    display: flex;
    justify-content: space-between;
}

.section2-dx {
    width: 35%;
}
/* /sezione 2 */
/* --------------------------- */



/* --------------------------- */
/* sezione 3 */

.vantaggi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    
}

.vantaggio {
    display: flex;
    flex-direction: column;


    width: 30%;
}


/* --------------------------- */
/* /sezione 3 */





/* --------------------------- */
/* sezione loghi*/

.cont-designit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sx,.dx {
    min-width: 350px;
}

.center {
    width: 50%;
}

div.logo {
    display: inline-block;


/* misure che calcono il bordo di prova */
    width: 174px;
    height: 174px;

    background-color: blue;
}





/* foot-designit */

.foot-designit {
    display: flex;
    justify-content: space-between;
}

/* sezione loghi*/
/* --------------------------- */
/* /main */
/* -------------------------------------------------- */







/* --------------------------- */
/* footer */

.cont-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* /footer */
/* --------------------------- */








