* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* test */
    border:  0.5px solid red;
}

.cont-centered {
    padding: 50px 20% 0 20%;
}

/* --------------------------- */
/* nav */
.cont-nav {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-nav ul {
    height: 100%;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cont-nav-dx,.cont-nav-sx {

    min-width: calc(100vw / 4);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* /nav */
/* --------------------------- */



/* --------------------------- */
/* header */
.cont-heaeder-descript {
    display: flex;
    gap: 2%;
}

header {
    position: relative;
}

.cont-header-sx {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.cont-header-dx {
    width: 70%;
}

.parzial-background {
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    background-color: aqua;
}

/* /header */
/* --------------------------- */




/* --------------------------------------------------- */
/* main */


/* sezione 1 */
.col-abo {
    width: 30%;
}

.cont-abbonamenti {
    display: flex;
    justify-content: space-between;

    /* text */
    height: 500px;
}

.enterprise-oriz {

    /* text */
    height: 100px;
}
/* /sezione 1 */
/* --------------------------- */



/* --------------------------- */
/* sezione 2 */

.cont-section2 {
    display: flex;
    justify-content: space-between;
}

.section2-dx {
    width: 35%;
}
/* /sezione 2 */
/* --------------------------- */



/* --------------------------- */
/* sezione 3 */

.vantaggi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    
}

.vantaggio {
    display: flex;
    flex-direction: column;


    width: 30%;
}


/* --------------------------- */
/* /sezione 3 */


/* --------------------------- */
/* sezione designit*/

.cont-designit {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sx,.dx {
    min-width: 350px;
}

.center {
    width: 50%;
}

div.logo {
    display: inline-block;


/* misure che calcono il bordo di prova */
    width: 174px;
    height: 174px;

    background-color: blue;
}






/* foot-designit */

.foot-designit {
    display: flex;
    justify-content: space-between;
}

/* sezione designit*/
/* --------------------------- */
/* /main */
/* -------------------------------------------------- */







/* --------------------------- */
/* footer */


.cont-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}




/* /footer */
/* --------------------------- */






/* --------------------------- */
/* test */


nav {
    height: 70px;
}



